@use 'colors';
@use 'layout';
@use 'typography';

body {
  font-family: typography.$font-family;
  color: colors.$text;
  background: colors.$background;
  display: flex;
  flex-direction: column;
  min-height: 90dvh;
  max-width: layout.$body-max-width;
  margin: 0 auto;
  padding: 2rem 1rem;
}

main {
  h1,
  h2,
  h3,
  h4 {
    color: colors.$text-brighter;
  }

  blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
    border-left: 0.25rem solid colors.$background-brighter;
  }

  flex: 1;
}

a {
  color: colors.$accent;

  &:visited {
    color: colors.$accent-alt;
  }
}

pre[class*='language-'],
code {
  font-size: typography.$font-size-base;
  background: colors.$background-brighter;

  &:not(code[class*='language-']) {
    color: colors.$text-brighter;
  }
}
