@use 'colors';
@use 'layout';
@use 'typography';

body {
  margin: 0;
  font-family: typography.$font-family;
  color: colors.$text;
  background: colors.$background;
}

div.outer {
  max-width: layout.$body-max-width;
  margin: 0 auto;
  padding: 2rem 1rem;
}

main {
  h1,
  h2,
  h3,
  h4 {
    color: colors.$text-brighter;
  }

  a {
    color: colors.$accent;

    &:visited {
      color: colors.$accent-alt;
    }
  }

  blockquote {
    margin: 1rem 0;
    padding: 0 1rem;
    border-left: 0.25rem solid colors.$background-brighter;
  }
}

pre[class*='language-'],
code {
  font-size: typography.$font-size-base;
  background: colors.$background-brighter;

  &:not(code[class*='language-']) {
    color: colors.$text-brighter;
  }
}
